.navbar-brand {
  font-size: 2.3rem;
  letter-spacing: 3px;
}

.navbar-brand i {
	font-size: 1.2rem;
	vertical-align: text-top;
}

.nav-link {
	font-size: 1rem;
	padding-left: 30px !important;
}

/*
.nav-link.dropdown-toggle:after {
	content: none;	
}


.nav-link i {
	margin-left: 4px;
}
*/

#date-panel .nav-link {
  color: #444;
}

.view {
  margin: 144px auto;
  display: none;
}

.view.active {
  display: block;
}

#search-result {
  margin-top: 120px;
}

#templates {
  display: none;
}
.snsContainer {
    margin-bottom: 20px;
    padding: 30px 38px 8px 38px;
    border-bottom: solid 1px #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.date-tag {
  margin: -16px 0 0 -125px;
  text-align: left;
  display: inline-block;
  float: left;
}

.date-tag .date-day {
  font-size: 34px;
  font-weight: bold;
  line-height: 0.8;
}

.date-tag .date-month {
  font-size: 12px;
  margin-left: 2px;
}

.snsContainer a:hover {
  text-decoration: none;
}

.authorName {
    margin: 12px 0 0 1px;
    font-size: 12px;
    color: #ccc;
}
.content {
  font-size: 16px;
    white-space: pre-line;
    margin-bottom: 18px;
}
.timestamp {
    color: #ccc;
    /*background: #f6f6f6;*/
    /*display: inline-block;*/
    /*padding: 3px 5px;*/
    border-radius: 3px;
    font-size: 12px;
    margin-top: 26px;
    text-align: right;
}
.imagesContainer {
    margin: 5px 0 0 -5px;
    max-width: 500px;
}
.linkContainer {
    margin: 5px 0;
}
.link {
    vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  line-height: 54px;
  background-color: #efefef;
  padding: 0 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  position: relative;
}
.thumb {
  max-height: 54px;
    vertical-align: middle;
}
.media {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}
.emoji {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  margin-left: 2px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.word-art {
  position: absolute;
  text-align: left;
  margin-left: -40px;
}
.word-art img {
  max-width: 360px;
  margin-top: -46px;
}

.mono {
  font-family: "monospace";
}

.search-input {
  background-color: rgba(111, 78, 165);
  color: #f9f8fc;
  border-color: #A991D4;
}

.search-input:focus {
  background-color: rgba(111, 78, 165);
  color: #f9f8fc;
  border-color: #A991D4;
}

.search-input::placeholder {
  color: #f9f8fc;
}

/* dropdown menu */ 
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a:hover {
  color: #222;
  background-color: #efefef;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 5px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: -10px;
  left: 100%;
  margin-left: -1px;
  margin-right: .1rem;
}
